.metadata/.lock
.DS_Store
.metadata/.log
.metadata/version.ini
.metadata/.mylyn/repositories.xml.zip
.metadata/.mylyn/.taskListIndex/segments_1
.metadata/.mylyn/.taskListIndex/write.lock
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/write.lock
.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
.metadata/.plugins/org.eclipse.jdt.core/index.db
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.9.1.20180912-1601.xml
.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.intro/introstate
.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
test/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfs
test/.metadata/.lock
test/.metadata/.log
test/.metadata/version.ini
test/.metadata/.mylyn/.tasks.xml.zip
test/.metadata/.mylyn/repositories.xml.zip
test/.metadata/.mylyn/tasks.xml.zip
test/.metadata/.mylyn/.taskListIndex/segments_1
test/.metadata/.mylyn/.taskListIndex/write.lock
test/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
test/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
test/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
test/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
test/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.core.prefs
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.launching.prefs
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
test/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
test/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
test/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
test/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
test/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/segments_1
test/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/http-cache.lucene60/write.lock
test/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.cfe
test/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/_0.si
test/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
test/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/write.lock
test/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
test/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
test/.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
test/.metadata/.plugins/org.eclipse.jdt.core/index.db
test/.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
test/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
test/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
test/.metadata/.plugins/org.eclipse.jdt.launching/.install.xml
test/.metadata/.plugins/org.eclipse.jdt.launching/libraryInfos.xml
test/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
test/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
test/.metadata/.plugins/org.eclipse.jdt.ui/dialog_settings.xml
test/.metadata/.plugins/org.eclipse.m2e.logback.configuration/0.log
test/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.9.1.20180912-1601.xml
test/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
test/.metadata/.plugins/org.eclipse.tips.ide/dialog_settings.xml
test/.metadata/.plugins/org.eclipse.ui.intro/introstate
test/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
test/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
test/.DS_Store
test/.DS_Store
test/.metadata/.plugins/org.eclipse.recommenders.news.impl/downloads/http%3A%2F%2Fwww.eclipse.org%2Fhome%2Feclipsenews.rss
test/.metadata/.plugins/org.eclipse.core.resources/.root/2.tree
test/.metadata/.plugins/org.eclipse.recommenders.news.impl/downloads/http%3A%2F%2Fwww.eclipse.org%2Frecommenders%2Ffeeds%2Fide.rss
JavaPPTX/classes/edu/stanford/cs/pptx/package.html
JavaPPTX/classes/edu/stanford/cs/pptx/chart/package.html
JavaPPTX/classes/edu/stanford/cs/pptx/code/package.html
test/bin/.DS_Store
test/src/.DS_Store
JavaPPTX/classes/edu/stanford/cs/pptx/util/EmptyContainer.class
JavaPPTX/classes/edu/stanford/cs/csslib/CSSColor.class
JavaPPTX/classes/edu/stanford/cs/pptx/ArcToElement.class
JavaPPTX/classes/edu/stanford/cs/pptx/CurveToElement.class
JavaPPTX/classes/edu/stanford/cs/pptx/LineToElement.class
JavaPPTX/classes/edu/stanford/cs/pptx/MoveToElement.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPArc.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPAutoShape.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPFreeform.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPGroup.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPLine.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPOval.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPOvalCallout.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPPath.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPPicture.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPPie.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPPointer.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPPolygon.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPRect.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPRectCallout.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPSaveJS.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPSavePPTX.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPShape.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPShapeFactory.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPShapeOptionParser.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPShow.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPSimpleShape.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPSimpleShapeOptionParser.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPSlide.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPStar.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPTextBox.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPTextShape.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPTextShapeOptionParser.class
JavaPPTX/classes/edu/stanford/cs/pptx/PPTitle.class
JavaPPTX/classes/edu/stanford/cs/pptx/PathElement.class
JavaPPTX/classes/edu/stanford/cs/pptx/package.html
JavaPPTX/classes/edu/stanford/cs/pptx/animation/PPAppearAnimation.class
JavaPPTX/classes/edu/stanford/cs/pptx/animation/PPMoveAnimation.class
JavaPPTX/classes/edu/stanford/cs/pptx/animation/PPShapeAnimation.class
JavaPPTX/classes/edu/stanford/cs/pptx/animation/PPShapeAnimator.class
JavaPPTX/classes/edu/stanford/cs/pptx/chart/PPChart.class
JavaPPTX/classes/edu/stanford/cs/pptx/chart/PPDotMarker.class
JavaPPTX/classes/edu/stanford/cs/pptx/chart/PPLineChart.class
JavaPPTX/classes/edu/stanford/cs/pptx/chart/PPMarker.class
JavaPPTX/classes/edu/stanford/cs/pptx/chart/PPPieChart.class
JavaPPTX/classes/edu/stanford/cs/pptx/chart/package.html
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPArray.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPCodeDisplaySlide.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPCodeImage.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPCodeTraceSlide.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPConsole.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPFunction.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPHeapStackViewer.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPJSSyntaxColorer.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPMonospacedLabel.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPPythonSyntaxColorer.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPStackFrame.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPSyntaxColorer.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPValueTag.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPVar.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPVariable.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPWindowImage.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/PPWord.class
JavaPPTX/classes/edu/stanford/cs/pptx/code/package.html
JavaPPTX/classes/edu/stanford/cs/pptx/effect/AnimationEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/AppearEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/BezierMotionEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/ChangeFillColorEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/ChangeFontColorEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/ChangeLineColorEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/CheckerboardInEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/CheckerboardOutEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/DisappearEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/FadeInEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/FadeOutEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/FadedZoomInEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/FadedZoomOutEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/FlyInEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/FlyOutEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/GrowEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/LinearMotionEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/MotionPathState.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/RotateEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/ShrinkEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/SlideTransition.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/SpinEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/WipeInEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/WipeOutEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/ZoomInEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/effect/ZoomOutEffect.class
JavaPPTX/classes/edu/stanford/cs/pptx/util/HexByteInputStream.class
JavaPPTX/classes/edu/stanford/cs/pptx/util/OptionParser.class
JavaPPTX/classes/edu/stanford/cs/pptx/util/PPOutputStream.class
JavaPPTX/classes/edu/stanford/cs/pptx/util/PPUtil.class
